body {
    background-image: linear-gradient(to top, #0e4781 0%,  #21b5ff 75%, #1b4a78 100%);;
    min-height: 100vh;
    font: normal 16px sans-serif;
    padding: 60px 0;
    
}

.container.gallery-container {
    background-color: #fff;
    color: #0a8f8f;
    min-height: 100vh;
    border-radius: 20px;
    box-shadow: 0 8px 15px rgba(38, 117, 74, 0.06);
}

.gallery-container h1 {
    text-align: center;
    margin-top: 70px;
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
}

.gallery-container p.page-description {
    text-align: center;
    max-width: 800px;
    margin: 25px auto;
    color: rgb(17, 117, 134);
    font-size: 36px;
}

.tz-gallery {
    padding: 40px;
}

.tz-gallery .lightbox img {
    width: 100%;
    margin-bottom: 30px;
    transition: 0.2s ease-in-out;
    box-shadow: 0 2px 3px hsla(202, 54%, 35%, 0.2);
}


.tz-gallery .lightbox img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}

.tz-gallery img {
    border-radius: 4px;
}

.baguetteBox-button {
    background-color: transparent !important;
}


@media(max-width: 768px) {
    body {
        padding: 0;
    }

    .container.gallery-container {
        border-radius: 0;
    }
}
